#profile-info { 
  float:left; 
}

#profile-pic { 
  float:right; 
}

.filters { 
  float:right; 
  margin-left: 5px;}

.selected{
  background-color: #FF0000; /* Green */
  border: none;
  color: white;
}

#main-search { 
  float:center;
  text-align: center; 
  margin-left: 5px;}

#results-map{
  float: right;
  height: 500px;
  width: 500px;
  margin: 0px;
}
#results-list{
  float: left;
}

.window-content {
  color: #04162b;;
}


h1, h2, h3, .navbar-brand { font-family: "sans-serif"; }

p { 
  font-family: "sans-serif";
  width: 50%;
  margin: 1em;
  padding: 1em; 
}
#tag{
  float: right;
}


#homepage-title {
    margin: 0;
    top: 0.5em;
    width: 100%;
    text-align: center;
    color: blue;
    font-weight: 400;
    font-size: 500%;
}

html, body {
  width: 90%;
  height: 90%;
  margin: 0;
  background-color: #ADD8E6;
}

#homepage-block {
  width: 100%;
  height: 100%;
  margin: 1em;
  padding: 1em;
  background-image: url("static/retro-map.jpg");
  background-size: 100%;
}

#extending {
              margin: 0px;
              padding: 0px;
              background-color: #ADD8E6;
              width: 100%;
              height: 100%;
           }

.spaced {
  margin-left:20px; 
  margin-top: 20px;
}