/*.file-container [type=file]{
  color: #ffffff;
  background-color: #3498db;
  border-color: #3498db;
}*/
.place-page-container{
  padding: 20px;
}

#place-description{
  width: 85%;
}

#place-info{
margin-left: 20px;
}

#place-comments{
margin-right: 20px;
padding: 0px;
}
/*.avatar-comment{
vertical-align: middle;
}*/
.avatar{
  float: left;
  margin-right: 5px;
}
#div-add-comment{
  margin-bottom: 40px;
}

#comments-container{
  padding-top: 50px;
}
.panel-comment{
  width: 70%;
}
.results-container{
  margin: 20px;
}
.results-map-container{
  margin: 10px;
  padding-top: 20px;
}
#city-search-alt{
   width: 80%;
  display: inline-block; 
}
#db-text-description{
width: 70%;
}

/*#main-title{
text-align: center;
}*/

#city-search{
  width: 80%;
  display: inline-block;
}

#search-button{
  margin-left: 15px;
}

#user-info{
  display: inline-block;
}

.map-container{
  padding-top: 20px;
}

.user-profile-container{
 padding-left: 30px; 
}

#profile-pic{
  margin-top: 10px;
  padding-top: 10px;
}

#text-description{
  display: inline-block;
}

#db-text-description{
  display: inline-block;
}

.filters { 
  float:right; 
  margin-left: 5px;
}

#edit-profile{
  margin-left: 4px;
  display: inline-block;
}

.selected{
  background-color: #FF0000;
  border: none;
  color: white;
}

#main-search { 
  float:center;
  text-align: center; 
  margin-left: 5px;
}

#results-map{
  height: 800px;
  width: 800px;
}
#user-map{
  height: 600px;
  width: 1000px;
}

.window-content {
  color: #04162b;;
}


h1, h2, h3, .navbar-brand { font-family: "Roboto", sans-serif; }

p { 
  font-family: "Roboto", sans-serif;
  width: 50%;
  margin: 1em;
  padding: 1em; 
}

#tag{
  float: right;
}


#homepage-title {
    margin: 0;
    top: 0.5em;
    width: 100%;
    text-align: center;
    color: blue;
    font-weight: 400;
    font-size: 500%;
}


/*#homepage-block {
  width: 100%;
  height: 100%;
  margin: 1em;
  padding: 1em;
  background-image: url("static/retro-map.jpg");
  background-size: 100%;
}*/

#extending {
              margin: 0px;
              padding: 0px;
              /*background-color: #ADD8E6;*/
              width: 100%;
              height: 100%;
           }

.spaced {
  margin-left:20px; 
  margin-top: 20px;
}

#home-search{
  /*background: url("air-balloon.jpg") no-repeat fixed center;*/
  background: url("air-balloon.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 800px;
}

/*background-size: cover;*/
}

html,body { 
  height:100%; 
}

#extend-div{
  margin-top: 10%;
  margin-bottom: 30%;
}
.doodle{
  margin-top: 40%;
}

#more-less{
  display: inline-block;
  padding-right: 10px;
}
#registration-confirmation, #activation-error, #forgot-password{
  padding: 20px;
}
#login-container, #register-container{
  padding: 20px;
}
#registration-well{
  padding-left: 20px;
}
#div-resend, #div-login-btn, #div-registration-btn{
  text-align: center;
}
#registration-confirmation, #forgot-password{
  text-align: center;
  margin-top: 20px;
}
.delete-action{
  background-color: transparent;
  border: none;
}
.one-result{
  margin-bottom: 15px;
}
#div-main-search{
  text-align: center;
}