{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="col-xs-4 col-xs-offset-4">
        <div id="registration-confirmation" class="well">
            <div>
                <h4> You are half way there!</h4>
                <h4> Please check your email to activate your account </h4> 
                <h4> If you didn't get an email, click here:</h4>                    
                <form action="/activation_confirmation/{{user_id}}" method="POST">
                    <div id="div-resend">
                        <button type="submit" id="resend" value="Resend" class="btn btn-primary"> Resend
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="doodle-container2" class="col-xs-4">
        <div>
            <img src="/static/images/balloon-doodle-edit.jpg" class="doodle" alt="doodle">
        </div>
    </div>    
</div>

{% endblock %}