{% extends 'base.html' %}
{% block content %}
<div>
  <h2 id="name">{{ place.name }}</h2><br>
</div>

<div>
  <h4>Country: {{ place.city.country.name }}</h4><br>
  <h4>City: {{ place.city.name }}</h4><br>
</div>

<!-- user.actions returns the MANY possible sav/hbh the user could have done -->
<div>
    <h4>Description:</h4>
    <img id="placeImage" height="300px" />
</div>
<div>
    <p>{{place.description}}</p>
</div>

<div>
    <h4>Visit Foursquare for more information</h4>
    <a href="{{place.url_4s}}">{{ place.name }}</a>
</div>

<script src="/static/js/places.js" type="text/javascript"></script>
{% endblock %}