{% extends 'base.html' %}
{% block content %}
<div>
    <h2>Register</h2>

    <form action="register" method="POST">
        <div class="form-group">
            <label>
                Name
                <input type="text" name="name" required class="form-control">
            </label>
        </div>

        <div class="form-group">
            <label>
                Lastname
                <input type="text" name="lastname" required class="form-control">
            </label>
        </div>

        <div class="form-group">
            <label>
                City
                <input type="text" name="city" class="form-control">
            </label>
        </div>

        <div class="form-group">
            <label>
                Country
                <select name="sel-country">
                    {% for country in countries %}
                        <option value="{{ country }}">{{ country }}</option>
                    {% endfor %}
                </select>  
            </label>             
        </div>

        <div class="form-group">
            <label>
                Email
                <input type="email" name="email" required class="form-control">
            </label>
        </div>

        <div class="form-group">
            <label>
                Password
                <input type="password" name="password" required class="form-control">
            </label>
        </div>

        <div>
            <input type="submit" value="Register">
        </div>

    </form>
</div>
{% endblock %}