{% extends 'base.html' %}
{% block content %}

  <h2>{{ user.name }} {{ user.lastname }}</h2><br>

  <b><p>Email: {{ user.email }}</p></b><br>
  <p>City: {{ user.city.name }}</p>
  <p>Country: {{ user.city.country.name }}</p>
<!-- user.actions returns the MANY possible sav/hbh the user could have done -->
  {% if user.actions %}
    <h6> {{user.name}}'s saved places:</h6>
      <ul>
      {% for user_action in user.actions %}
        {% if user_action.action_code=='sav' %}
          <li>
            <a href="/places/{{ user_action.place.place_id }}">{{ user_action.place.name }}</a>
          </li>
        {% endif %}
      {% endfor %}
      </ul>

    <h6> Places {{user.name}} has been:</h6>
      <ul>
      {% for user_action in user.actions %}
        {% if user_action.action_code=='hbh' %}
          <li>
            <a href="/places/{{ user_action.place.place_id }}">{{ user_action.place.name }}</a>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
  {% endif %}
{% endblock %}